#link-parent-container {
    display: flex;
    justify-content:space-between;
    margin-bottom: 8%;
}

#quiz-container {
    text-align: center;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#option1,
#option2,
#option3,
#option4 {
    width: 11%;
    text-align: left;
}